{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "New Hampshire Deed Search" %}{% endblock %}
{% block h1 %}{% trans "New Hampshire Deed Search" %}{% endblock %}

{% block content %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="{{ message.level_tag }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'search' %}" method="post">
        {{ form.as_p }}
        <p><input type="submit" value="View"></p>
        {% csrf_token %}
    </form>

    {% if searched %}
        <hr>
        <h2>Search Results</h2>

        {% if entries %}
            <table class="responsive-table-large">
                <thead>
                    <tr>
                        <th class="small">PDF</th>
                        <th class="small">Book/Plan</th>
                        <th>Full Record</th>
                    <tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td><a href="{% url 'get_deed' county=form.cleaned_data.county book=entry.book plan=entry.plan %}" target="_blank">View</a></td>
                            <td>{{ entry.book }}/{{ entry.plan }}</td>
                            <td title="{{ entry.full_record }}">{{ entry.full_record }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No matching entries were found.</p>
        {% endif %}
    {% endif %}

    {% for url in urls %}
        <p><img src="{{ url }}"></p>
    {% endfor %}
{% endblock %}
