@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "responsive-tables";

$mobile: new-breakpoint(max-width 480px 4);

* {
    font-family: 'Open Sans', sans-serif !important;
    font-size: rem(16);
}
a {
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: rem(24);
}
h2 {
    font-size: rem(18);
}

input[type="submit"], input[type="text"] {
    width: rem(350);

    @include media($mobile) {
        width: 100%;
    }
}

th {
    &.small {
        width: 12.5%;
    }
}

.container {
    @include outer-container;
}
.disclaimer {
    margin-top: 1em;

    * {
        font-size: rem(12);
    }
}
.errorlist {
    color: red;
    font-weight: bold;
    margin: rem(16) 0;
}

.responsive-table {
    @extend %responive-tables;
    @include responive-tables('PDF', 'Book/Plan', 'Full Record');
}

.responsive-table-large {
    @extend %responive-tables-large;
    @include responive-tables-large('PDF', 'Book/Plan', 'Full Record');
}
